<!DOCTYPE html>
<html>
  <head>
    <title>Pebbble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('pebbble-icon.svg') %>
    
    <script>
      window.clip_trumpeter = "<%= image_url('clip_trumpeter.png') %>"; 
      window.clip_dancer = "<%= image_url('clip_dancer.png') %>"; 
      window.avatar_default = "<%= image_url('avatar_default.gif') %>"; 
      window.splash_img = "<%= image_url('romainbriaux-pebbble-splash.webp') %>"; 
      window.pebbble_svg = "<%= image_url('pebbble-icon.svg') %>"; 
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
